
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>rainbow_course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body>


    <div class="jumbotron">
        <div class="container">
            <h1>{% include "rainbowApp/includes/some_html.html" %}</h1>
            <p>
            {% block content %}
            {% endblock %}
            </p>
            <p>
                <a href="/" class="btn btn-success btn-lg">Головна сторинка</a>
                <a href="/news" class="btn btn-primary btn-lg">NEWS School
                &raquo;</a>
                <a href="/contact" class="btn btn-info btn-lg">Контакти</a>
            </p>
         </div>
    </div>
    <div class="container">
        <img src="{% static 'mainApp/image/united-kingdom-of-great.jpg' %}"
         class="img-thumbnail">
         <hr>
    &copy; Вси права захищени 2019
    </div>
</body>
</html>




<!--/static/css/bootstrap.min.css-->
